<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>

<body>
<div>
    <h2>Edit User</h2>
    <form action="/users/edit" method="post">
        <table border="1" >
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="*{user.id}" readonly/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{user.firstName}"/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{user.lastName}"/></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Edit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>